<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Test Project</title>
    <!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=8d061d84f0f5aa06e467f33c2153dedf"></script> -->
    <style>
      html{
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!-- <noscript>Out-of-the-box mid-stage front/design solution!</noscript> -->
    <div id="root-master">

      <!-- <div class="page-loading-warp">
        <div class="ant-spin ant-spin-lg ant-spin-spinning">
          <span class="ant-spin-dot ant-spin-dot-spin"
            ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
            ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
          ></span>
        </div>
      </div> -->
    </div>
  </body>

</html>
