// 滚动条
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

// 隐藏所有箭头按钮
::-webkit-scrollbar-button {
  display: none;
}

// 垂直滚动条渐增或渐减箭头不显示( 防止滚动条掩盖圆角 )
::-webkit-scrollbar-button:vertical:increment {
  display: block;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #c8cacc;
  border-radius: 2px;
  outline-offset: -2px;
}

::-webkit-scrollbar-track-piece {
  background: #f8f8fa;
  border-radius: 0;
}

.ant-pro-table
  > .ant-card
  .ant-table-header
  .ant-table-thead
  > tr
  > .ant-table-cell::before {
  display: none;
}
.ant-btn {
  border-radius: 4px;
}

// .ant-pro-table{
//   .ant-pro-table-search.ant-pro-table-search-query-filter{
//     background: #303e75;
//     .ant-form-item-label > label{
//       color: #fff;
//     }
//     .ant-input-affix-wrapper{
//       background: #303e75;
//       .ant-input{
//         background: #303e75;
//       }
//     }
//     .ant-select-selector{
//       background: transparent !important;
//     }
//   }
//   .ant-card{
//     background: #303e75;
//     .ant-table{
//       background: #303e75;
//       color: #fff;
//     }
//     .ant-table-thead>tr>.ant-table-cell{
//       background: #303e75;
//       color: #fff;
//     }
//   }
//   .ant-pro-table-list-toolbar-setting-item{
//     color: #fff;
//   }
//   .ant-pagination-total-text{
//     color:#fff;
//   }
//   .ant-pagination-item-link{
//     color: #fff;
//   }
//   .ant-picker.ant-picker-range{
//     background: transparent;
//     .ant-picker-separator{
//       color: #fff;
//     }
//     .ant-picker-suffix{
//       color: #fff;
//     }
//   }
// }
